**/.output/**
Carbon/**
Pester/**
Test/Assemblies/**/obj/**
Test/Assemblies/**/bin/**
Test/Assemblies/**/packages/**
Test/Pester/whiskey.yml
Test/Assemblies/**/whiskey.yml
Test/packages
Modules
.whsgallerykey
*.orig