**/.output/**
Test/Assemblies/**/obj/**
Test/Assemblies/**/bin/**
Test/Assemblies/**/packages/**
Test/Pester/whiskey.yml
Test/Assemblies/**/whiskey.yml
Test/packages
PSModules
.whsgallerykey
*.orig
packages
Test/.downloadcache
Whiskey/bin/Whiskey.dll
Whiskey/bin/SemanticVersion.dll
Assembly/**/obj/**
Assembly/**/bin/**
**/.vs/**
Assembly/Whiskey/Properties/AssemblyVersion.cs
*.user
/.vscode/**
/.dotnet/**