**/.output/**
/Test/Assemblies/**/obj/**
/Test/Assemblies/**/bin/**
/Test/Assemblies/**/packages/**
/Test/Assemblies/**/whiskey.yml
/Test/packages
/PSModules
/.whsgallerykey
*.orig
/packages
/Test/.downloadcache-*
/Whiskey/bin/
/Assembly/**/obj/**
/Assembly/**/bin/**
**/.vs/**
/Assembly/Whiskey/Properties/AssemblyVersion.cs
*.user
/.vscode/**
/.dotnet/**
/Whiskey/Modules/**
