version: 0.0.0+{build}

skip_tags: true

skip_branch_with_pr: true

build:
  verbosity: minimal

test: false

environment:
  WHISKEY_DISABLE_ERROR_FORMAT: True
  matrix:
  # TODO: Get builds working on PowerShell 7.2 on Windows.
  # - job_name: PowerShell 7.2 on Windows
  #   job_group: pwsh
  #   appveyor_build_worker_image: Visual Studio 2022

  # TODO: Get builds working on macOS.
  # - job_name: PowerShell 7.1 on macOS
  #   job_group: pwsh
  #   appveyor_build_worker_image: macOS

  # Temporarily disabled
  # https://github.com/PowerShell/PSResourceGet/issues/1905
  # - job_name: Windows PowerShell 5.1/.NET 4.6.2
  #   job_group: ps
  #   appveyor_build_worker_image: Visual Studio 2013

  # Fails on dotnet build even though it works when RDP into VM
  # - job_name: Windows PowerShell 5.1/.NET 4.8
  #   job_group: ps
  #   appveyor_build_worker_image: Visual Studio 2017 # Has minimum PackageManagement and PowerShellGet modules.

  - job_name: Windows PowerShell 5.1/.NET 4.8
    job_group: ps
    appveyor_build_worker_image: Visual Studio 2017

  # - job_name: PowerShell 6.2 on Windows
  #   job_group: pwsh-win
  #   appveyor_build_worker_image: Visual Studio 2015

  # - job_name: PowerShell 7.2 on Ubuntu
  #   job_group: pwsh-nix
  #   appveyor_build_worker_image: Ubuntu2004

  # - job_name: PowerShell 7.1 on Windows
  #   job_group: pwsh-win
  #   appveyor_build_worker_image: Visual Studio 2019


artifacts:
- path: .output\*


for:
# Build in Windows PowerShell
- matrix:
    only:
    - job_group: ps
  build_script:
  - ps: &build_script |
        $ProgressPreference = 'SilentlyContinue'
        Invoke-WebRequest -Uri 'https://live.sysinternals.com/procexp.exe' -OutFile '~/Desktop/procexp.exe'
        Invoke-WebRequest -Uri 'https://live.sysinternals.com/procmon.exe' -OutFile '~/Desktop/procmon.exe'

        if ((Test-Path -Path 'env:ENABLE_RDP') -and $env:ENABLE_RDP -eq 'True')
        {
          $blockRdp = $false
          if ((Test-Path -Path 'env:BLOCK_RDP_ON_START') -and $env:BLOCK_RDP_ON_START -eq 'True')
          {
            $blockRdp = $true
          }
          $nonat = $false
          iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
        }

        dir env:
        try
        {
            if ((Test-Path -Path 'env:ENABLE_VERBOSE') -and $env:ENABLE_VERBOSE -eq 'True')
            {
              $Global:VerbosePreference = 'Continue'
            }
            iwr https://raw.githubusercontent.com/webmd-health-services/Prism/main/Scripts/init.ps1 | iex | Format-Table
            .\build.ps1
        }
        finally
        {
            $Global:Error | Format-List * -Force
        }
  on_finish:
  - ps: &format_test_results |
      .\Format-PesterResult.ps1 -Path './.output/pester*.xml' -QueueDuration '00:10:00'
  - ps: &enable_rdp_on_finish |
      if ((Test-Path -Path 'env:ENABLE_RDP') -and $env:ENABLE_RDP -eq 'True')
      {
        $blockRdp = $false
        if ((Test-Path -Path 'env:BLOCK_RDP_ON_FINISH') -and $env:BLOCK_RDP_ON_FINISH -eq 'True')
        {
          $blockRdp = $true
        }
        $nonat = $false
        iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
      }

# Build in PowerShell
- matrix:
    only:
    - job_group: pwsh-win
  build_script:
  - pwsh: *build_script
  on_finish:
  - pwsh: *format_test_results
  - pwsh: *enable_rdp_on_finish

- matrix:
    only:
    - job_group: pwsh-nix
  build_script:
  - pwsh: *build_script
  on_finish:
  - pwsh: *format_test_results
  - sh: &enable_ssh |
      if [ "${ENABLE_RDP,,}" = "true" ] ; then
        export APPVEYOR_SSH_BLOCK=true
        curl -sflL 'https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-ssh.sh' | bash -e -
      fi
